@media (max-width: 600px) {
}
html {
  box-sizing: border-box;
  font-family: "RedHatText", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@font-face {
  font-family: "RedHatText";
  src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf");
}

body {
  font-family: "RedHatText", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
}
:root {
  --background-color: hsl(20, 50%, 98%);
  --cart-background: #fff;
  --deep-brown: hsl(13, 18%, 25%);
  --light-brown: hsl(7, 20%, 60%);
  --bright-brown: hsl(24, 70%, 46%);
  --normal-brown: hsl(12, 20%, 44%);
}
.main-container {
  width: 300px;
  padding: 10px;
}
.items img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.item.active img {
  border: 2px solid hsl(24, 78%, 43%);
}
.title {
  font-weight: 700;
}
.items p {
  font-size: 12px;
  margin: 5px 0px;
  color: var(--light-brown);
}
.items h5:first-of-type {
  color: var(--cart-p-tag);
  margin: 5px 0px;
}
.items h5:nth-of-type(2),
.cart h3 {
  color: var(--bright-brown);
  margin: 5px 0px;
}
.item {
  margin-top: 20px;
}
.add-cart {
  position: absolute;
  bottom: 68px;
  left: 60px;
  border: 0.5px solid var(--light-brown);
  width: 120px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  gap: 5px;
  border-radius: 20px;
}
.non-selected {
  display: flex;
}
.add-cart img {
  width: 18px;
  margin-bottom: 0;
}
.add-cart p {
  font-family: "RedHatText", sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: var(--cart-p-tag);
}
.item {
  position: relative;
}
.cart {
  background: var(--cart-background);
  display: none;
  /* display: flex; */
  flex-direction: column;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}
.your-cart {
  background: var(--cart-background);
  display: flex;
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  padding: 20px;
  text-align: start;
  border-radius: 10px;
}
.your-cart h3 {
  margin-top: 0;
  color: var(--bright-brown);
}
.your-cart p {
  margin: 0;
}
.items-selected {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.sub-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sub-item p {
  color: var(--deep-brown);
  font-weight: 500;
}
.horizontal-line {
  border: 1px solid rgb(241, 238, 238);
}
.remove-cover {
  border: 1px solid var(--light-brown);
  border-radius: 50% 50%;
  height: 15px;
  width: 15px;
  position: relative;
}
.remove-cover img {
  width: 9px;
  position: absolute;
  top: 15%;
  left: 15%;
}
.price-tag {
  display: flex;
  gap: 15px;
}
.cart p {
  font-size: 11.5px;
}
.cart img {
  width: 50%;
}
.cart h3 {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}
.cake-display p {
  color: var(--normal-brown);
  font-weight: 500;
}
.mobile,
.tablet {
  display: none;
}
button {
  position: relative;
  overflow: hidden;
}
button .selected {
  position: absolute;
  display: none;
  padding: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bright-brown);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.circle {
  position: relative;
  overflow: hidden;
}
button .selected .circle {
  border: 1px solid white;
  border-radius: 50% 50%;
  height: 15px;
  width: 15px;
  position: relative;
}
.circle img {
  width: 10px;
  height: 10px;
}
.price-tag :first-child {
  color: var(--bright-brown);
  font-weight: 500;
}
.price-tag :nth-child(2) {
  color: var(--normal-brown);
}
.price-tag :nth-child(3) {
  color: var(--normal-brown);
  font-weight: 500;
}
.total-order p {
  font-size: 13px;
}
.total-order .order-1 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  align-items: center;
}
.total-order .order-1 h3 {
  margin: 0;
}
.total-order .order-2 {
  display: flex;
  justify-content: space-between;
  gap: 3.2px;
  padding: 10px;
  border: 1px solid black;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .mobile,
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }
  body {
    font-family: "RedHatText", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-container {
    display: flex;
    width: 800px;
    gap: 20px;
    align-items: start;
  }
  .items-container {
    width: 80%;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  .cart {
    height: auto;
  }
  .add-cart {
    left: 10px;
  }
}
@media (min-width: 1025px) {
  .mobile,
  .tablet {
    display: none;
  }
  .desktop {
    display: block;
  }
  body {
    font-family: "RedHatText", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
  }
  .items p {
    font-size: 0.8rem;
  }
  .add-cart {
    width: 150px;
    height: 40px;
  }
  .main-container {
    display: flex;
    width: 1300px;
    gap: 20px;
    align-items: start;
  }
  .items-container {
    flex: 2.1;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  .cart {
    flex: 0.8;
    height: auto;
  }
  .add-cart {
    left: 50px;
    bottom: 85px;
  }
}
